@(wsPath: String)
<!DOCTYPE html>


<html>
<head>
    <title>Live Chat</title>
    <link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <!--script type='text/javascript' src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script-->
    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type='text/javascript' src="//www.bitstorm.org/jquery/color-animation/jquery.animate-colors-min.js"></script>


    <script type='text/javascript' src='@routes.Assets.at("lib/flot/jquery.flot.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
</head>
<body data-ws-url="@wsPath">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Live Chat</a>
            <form id="enterroomform" class="navbar-form pull-right">
                <input id="enterroomusernametext" type="text" class="span2" placeholder="username">
                <input id="enterroomtext" type="text" class="span2" placeholder="room name" style="visibility:hidden;">
                <button type="submit" class="btn">enter room</button>
            </form>
        </div>
    </div>
</div>
<div id="stocks" class="container">
    <div id="messagearea" class="container">

    </div>
    <div id="newmessage">
        <form id="inputmessageform">
            <input id="inputmessagetext" type="text" class="input-xxlarge" placeholder="input the message">
            <!--button type="submit" class="btn">go!</button-->
        </form>
    </div>
</div>
</body>
</html>
